/* =========================================================
   Boutons
   ========================================================= */

.button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-button);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 6px;
}

.button:hover,
.button:focus {
    background-color: var(--color-button-hover);
    text-decoration: underline;
}
.button:focus-visible {
    outline: 2px solid var(--color-button-hover);
    outline-offset: 3px;
}